@{
    ViewBag.Title = "Update";
    @Styles.Render("~/Content/mainstyles.css");
    @Styles.Render("~/Content/products.css");
    Layout = "~/Views/Shared/_Layout.cshtml";

    Domain.User u = new Domain.User();
    Business.UserBusiness ub = new Business.UserBusiness();
    String name = "", lastname = "", email = "", password = "", role = "", cardNumber = "", confirmP = "";

    MongoDB.Bson.ObjectId id = new MongoDB.Bson.ObjectId();
}




@{
    if (IsPost)
    {

        

            u = ub.SearchUser(Request.Form["userNames"]);
            name = u.name;
            lastname = u.lastName;
            email = u.email;
            password = u.password;
            role = u.role;
            cardNumber = u.cardNumber;
            confirmP = password;

        }
    }


<section class="welcome">

    <div class="main-content">


        <form class="form-basic" method="post" action="#">


            <div class="form-row">
                <label>
                    <span>Select an user to update below</span>
                    <select id="userNames" name="userNames">

                        @{



                            for (int i = 0; i < ub.GetUsers().ToArray().Length; i++)
                            {
                                email = ub.GetUsers().ToArray()[i].email.ToString();
                                id = ub.GetUsers().ToArray()[i]._id;

                                <option id="a" value=@id>@email</option>
                            }
                        }


                    </select>
                </label>
            </div>

            <div class="form-row">
                <button type="submit" name="submitSearch">Search</button>
            </div>

            <div class="form-row">
                <label>
                    <span>Name</span>
                    <span>@name</span>
                  
                </label>
            </div>
            <div class="form-row">
                <label>
                    <span>LastName</span>
                    <span>@lastname</span>
                </label>
            </div>
            <div class="form-row">
                <label>
                    <span>Email</span>
                    <span>@email</span>
                </label>
            </div>


            <div class="form-row">
                <label>
                    <span>Role</span>
                    <span>@role</span>
                </label>
            </div>

            <div class="form-row">
                <label>
                    <span>Card Number</span>
                    <span>@cardNumber</span>
                </label>
            </div>

        </form>

    </div>



</section>
