
@{
    ViewBag.Title = "Update";
    @Styles.Render("~/Content/mainstyles.css");
    @Styles.Render("~/Content/products.css");
    Layout = "~/Views/Shared/_Layout.cshtml";
    Domain.User u = new Domain.User();
    Business.UserBusiness ub = new Business.UserBusiness();
    String name = "", lastname = "", email = "", password = "", role = "", cardNumber = "", confirmP = "";

    MongoDB.Bson.ObjectId id = new MongoDB.Bson.ObjectId();

    }


@{
    if (IsPost)
    {

        if (Request.Form["submitSearch"] != null)
        {

            u = ub.SearchUser(Request.Form["userNames"]);
            name = u.name;
            lastname = u.lastName;
            email = u.email;
            password = u.password;
            role = u.role;
            cardNumber = u.cardNumber;
            confirmP = password;

        }
        else
        {
            u.name = Request.Form["name"];
            u.password = Request.Form["password"];
            u.role = Request.Form["role"];
            u.lastName = Request.Form["lastname"];
            u.email = Request.Form["email"];
            u.cardNumber = Request.Form["cardNumber"];

            if (ub.UpdateUser(MongoDB.Bson.ObjectId.Parse(Request.Form["userNames"]), u))
            {

                <script type="text/javascript">
                    alert("You have  updated  successfully");
                </script>
                }
            }

        }

    }

<section class="welcome">
    <div class="background-image" style="background-image: url(Img/background.jpg);"></div>
    <h1>Update an User</h1>


    <div class="main-content">


        <form class="form-basic" method="post" action="#">


            <div class="form-row">
                <label>
                    <span>Select an user to update below</span>
                    <select id="userNames" name="userNames">

                        @{



                            for (int i = 0; i < ub.GetUsers().ToArray().Length; i++)
                            {
                                 email = ub.GetUsers().ToArray()[i].email.ToString();
                                 id = ub.GetUsers().ToArray()[i]._id;

                                <option id="a" value=@id>@email</option>
                            }
                        }


                    </select>
                </label>
            </div>

            <div class="form-row">
                <button type="submit" name="submitSearch">Update</button>
            </div>

            <div class="form-row">
                <label>
                    <span>Name</span>
                    <input type="text" name="name" value=@name >
                </label>
            </div>
            <div class="form-row">
                <label>
                    <span>LastName</span>
                    <input type="text" name="lastname" value="@lastname">
                </label>
            </div>
            <div class="form-row">
                <label>
                    <span>Email</span>
                    <input type="email" name="email" value=@email>
                </label>
            </div>

            <div class="form-row">
                <label>
                    <span>Password</span>
                    <input type="password" name="password" value=@password>
                </label>
            </div>
            <div class="form-row">
                <label>
                    <span>Confirm Password</span>
                    <input type="password" name="confirmPassword" value=@confirmP>
                </label>
            </div>



            <div class="form-row">
                <label>
                    <span>Role</span>
                    <select name="dropdown">
                        <option>Admin</option>
                        <option>User</option>

                    </select>
                </label>
            </div>

            <div class="form-row">
                <label>
                    <span>Card Number</span>
                    <input type="text" name="cardNumber" value="@cardNumber">
                </label>
            </div>


            <div class="form-row">
                <button type="submit" name="submitUpdate">Save changes</button>
            </div>

        </form>

    </div>


</section>
